@media screen and (max-width:400px) {
    .Header-main{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
    }
    .text-banner, .text-img{
        width: 100%;
    }
}